h1 {
  font-size: 36px;
}

img {
  max-width: 10em;
  max-height: 10em;
}

.track-panel {
 display: inline-block;
 width: 95%;
 margin: 0.5% 2.5% 0.5% 2.5%;
 padding: 1%;
}

.track-photo {
  float: left;
}

.track-details {
  margin-left: 20%;
}