header {
  margin-top: 0;
}

h1 {
  font-size: 36px;
}

img {
  max-width: 10em;
  max-height: 10em;
}

.playlist-card {
  display: inline-block;
  width: 10em;
  margin: 1%;
}

.card-block {
  padding: 5%;
  margin: 5%;
}

.track-panel {
 display: inline-block;
 width: 95%;
 margin: 0.5% 2.5% 0.5% 2.5%;
 padding: 1%;
}

.track-photo {
  float: left;
}

.track-details {
  margin-left: 20%;
}