<div class="container-fluid">
  <% @playlists.each do |playlist| %>
    <div class="card playlist-card col-md-1">
      <%= link_to image_tag(playlist['images'][0]['url'], class: "img-fluid"),
       playlist_path(playlist['id'], params: {user_id: playlist['owner']['id'], playlist_title: playlist['name']} )
      %>
      <div class="card-block">
        <%= playlist['name'] %>
        <div class="row">
          # Tracks: <%= playlist['tracks']['total'] %>
        </div>
      </div>
    </div>
  <% end %>
</div>