<!DOCTYPE html>
<html>
<head>
  <title>Listify</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"></script>

</head>
<body>
  <header>
    <h1 class="z-depth-1">Listify</h1>
  </header>

<%= yield %>

</body>
</html>
